:root {
    --main-color:#4b9cd3;
    --secondary-color:#004589;
    --accent-color:#FACF5A;
    --light-grey-color:#F3F3F3;
    --text-color:#232323;
}

#mainContentWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContentCard {
  background-color: var(--light-grey-color);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
}

.mainContentHeaderText{
  color: var(--main-color);
  font-size: 25px;
  margin: 0;
  font-weight: bold;
}

.mainContentBodyText, .InnerCardBodyText {
  font-size: 15px;
}

#firstInnerCard {
  margin-top: 20px;
}

.innerCard {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.InnerCardHeaderText {
  color: var(--secondary-color);
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

#appScreenshot {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 70px;
}

#mainAppScreenshot {
  max-width: 400px;
  width: 80%;
  margin: 15px auto;
  border-radius: 15px;
}


@media screen and (min-width: 768px) {
  #mainContentWrapper {
    flex-direction: row;
  }
  #mainContentLeft {
    margin-right: 20px;
    width: 50%;
  }
  #mainContentAppSections {
    margin-bottom: 70px;
  }
}
